.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr
out/
.env.*
mobile/local.properties
mobile/app/google-services.json
